@model Blog

@{
    ViewData["Title"] = "Edit";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <span class="text-danger">@ViewBag.Message</span>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Edit" class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <div>
                                    <label for="exampleInputUsername1">Title</label>
                                    <input type="text" class="form-control" asp-for="Title">
                                    <span class="text-danger my-1" asp-validation-for="Title"></span>
                                </div>

                                <div>
                                    <label class="my-3" for="exampleInputUsername1">Description</label>
                                    <input type="text" class="form-control" asp-for="Desc">
                                    <span class="text-danger my-1" asp-validation-for="Desc"></span>
                                </div>

                                <div>
                                    <label class="my-3" for="exampleInputUsername1">Date</label>
                                    <input type="date" class="form-control" asp-for="Date">
                                    <span class="text-danger my-1" asp-validation-for="Date"></span>
                                </div>

                                <div class="my-3">
                                    <label for="exampleInputUsername1">Blog image</label>
                                    <div class="form-group">
                                        <input class="form-control" asp-for="Photo">
                                        <span class="text-danger" asp-validation-for="Photo"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <a asp-controller="Blog" asp-action="Index" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial" />
}